
    <script src="https://kit.fontawesome.com/3125f5a1ec.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@300&family=Open+Sans:wght@400;500;600&family=Staatliches&family=Vidaloka&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="navBarWrapper">
        <div class="navHolder" id="navHolder">
            <nav class="navbar" id="navbar">
                <div class="navLogo" id="navLogo">
                    <img class="navLogo-img" id="navLogo-img" src="/public/assets/images/glee-logo3.png" alt="logo"> </div>
                <div class="navWrap" id="navWrap">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about-us">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tours">Tours</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact-us">Contact</a>
                        </li>
                    </ul>
                    <div class="navButtonsWrap">
                        <a href="https://www.facebook.com/gleetours.pk" style="margin-right: 15px;"><i class="fab fa-facebook" style="font-size: 26px; text-decoration: none; color: black;"></i></a>
                        <a href="https://instagram.com/gleetours.pk?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram" style="font-size: 26px; text-decoration: none; color: black;"></i></a>
                    </div>
                </div>
                <button class="headerBtn bar" id="menuBtn" onclick="navbarFunction()">
                    <i class="fa fa-bars"></i>
                </button>
            </nav>
            <div class="navSlideDown" id="navSlideDown">
                <ul class="nav-list-slide" id="nav-list-slide">
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tours">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact-us">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>