<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin Panel
        </title>
        <link rel="stylesheet" type="text/css" media="screen" href= "/public/assets/css/admin.css"/>
        <script src="https://kit.fontawesome.com/3125f5a1ec.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@300&family=Open+Sans:wght@400;500;600&family=Staatliches&family=Vidaloka&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mainDiv">
            <div class="navigationDivWrapper">
                <div class="navigationDiv">
                    <div class="logoDiv">
                        <img src="/public/assets/images/glee-logo3.png" alt="Logo">
                    </div>
                    <div class="linksDiv">
                        <% if(admin) { %>
                            <a href="/admin/logout"><p>Log Out</p></a>
                        <% } %>
                        <a href="/admin/messages"><h4 >Messages</h4></a>
                        <a href="/admin/view-tours"><h4>Tours</h4></a>
                        <a href="/admin"><h4>Home</h4></a>
                    </div>
                </div>
            </div>
            <div class="navBarWrapper">
                <nav class="navbar" id="navbar">
                    <div class="navLogo" id="navLogo">
                        <img class="navLogo-img" id="navLogo-img" src="/public/assets/images/glee-logo3.png" alt="logo"> </div>
                        <div class="dropdown">
                        <button class="headerBtn bar" id="menuBtn" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-content" id="dropdown-content">
                          <a href="/admin">Home</a>
                          <a href="/admin/view-tours">Tours</a>
                          <a href="/admin/messages">Messages</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="dataDiv">
                <div class="dataHeadingDiv">
                    <h2>Add Tour Details</h2>
                </div>
                <div class="dataDetailsDiv">
                <form class="tourForm" action="<%=process.env.BASE_URL%>/admin/add-tour-details" method="POST" enctype="multipart/form-data">
                        <label for="title">Tour Title</label>
                        <input type="text" name="title" id="title" required>
                        <label for="days">No. of days</label>
                        <input type="number" name="days" id="days" required>
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="8" required></textarea>
                        <label for="touristAttractions">Tourist Attractions</label>
                        <textarea name="touristAttractions" id="touristAttractions" cols="30" rows="8"></textarea>
                        <div class="tourItineraryDiv" id="tourItineraryDiv">
                            <h3 style="margin-bottom: 0;">Tour Itinerary</h3>
                        </div>
                        <button type="button" class="unfilledBtn" id="add_day"><i class="fa fa-plus" style="position: relative; top: 0.5px;">
                        </i>&nbsp;&nbsp;Add Day</button>
                        <label for="packageInclusion">Package Inclusion</label>
                        <textarea name="packageInclusion" id="packageInclusion" cols="30" rows="8" required></textarea>
                        <label for="packageExclusion">Package Exclusion</label>
                        <textarea name="packageExclusion" id="packageExclusion" cols="30" rows="8" required></textarea>
                        <input type="file" name="image" id="image" required>
                        <button  class="filledBtn" type="submit">Add Tour Details</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/public/assets/js/add-tour-details.js"></script>
    </body>
</html>
