html{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.navHolder{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
}

.navBarWrapper{
    height: 100px;;
}

.navbar{
    background-color: white;
    color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    transition: height 0.3s;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.navLogo{
    margin-left: 10px;
    margin-top: 8px;
    width: 250px;
}

.navLogo-img{
    width: 250px;
}

.navWrap{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

.nav-item{
    margin: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;

}

.nav-item a{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.nav-item a:hover{
    color: rgb(195, 33, 33);
}

.navButtonsWrap{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBtn.bar{
    display: none;
}

.headerBtn{
    font-family: 'Poppins';
    color: white;
    background-color: inherit;
    padding: 8px 20px;
    border: 2px solid white;
    cursor: pointer;
}

.navSlideDown{
    display: none;
}

.coverDiv{
    height: fit-content;
    margin-bottom: 70px;
    margin-top: -70px;
}

.coverDiv > img{
    object-fit: cover;
    width: 100%;
}

.textDiv{
    margin: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
}

.textDiv > h1{
    color: rgb(195, 33, 33);
}

.textDivPara{
    color: rgb(195, 33, 33);
}

.packageHeadingDiv{
    background-color: rgb(195, 33, 33);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.packageHeadingDiv > h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.expandableTextHeadingDiv1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}


.expandableTextHeadingDiv2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}


.expandableTextHeadingDiv3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}


.expandableTextHeadingDiv4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}


.expandableTextHeadingDiv5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}

.expandableTextHeadingDiv6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid rgb(195, 33, 33);
    color: rgb(195, 33, 33);
}


.expandableTextHeadingDiv1 > h3{
    margin: 0;
}

.expandableTextHeadingDiv2 > h3{
    margin: 0;
}

.expandableTextHeadingDiv3 > h3{
    margin: 0;
}

.expandableTextHeadingDiv4 > h3{
    margin: 0;
}

.expandableTextHeadingDiv5 > h3{
    margin: 0;
}

.expandableTextHeadingDiv6 > h3{
    margin: 0;
}

.downArrow1{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrow2{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrow3{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrow4{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrow5{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrow6{
    display: inline-block; 
    color: rgb(195, 33, 33);
    margin-right: 15px;
    transition: transform 1s;
}

.downArrowRotate{
    transform: rotate(180deg);
    transition: transform 1s;
}

.closedText1{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-right: 20px;
}

.closedText2{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-left: 20px;
    padding-right: 20px;
}

.closedText3{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-left: 20px;
    padding-right: 20px;
}

.closedText4{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-left: 20px;
    padding-right: 20px;
}

.closedText5{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-left: 20px;
    padding-right: 20px;
}

.closedText6{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    padding-left: 20px;
    padding-right: 20px;
}

.expandedText{
    max-height: 2500px;
    transition: max-height 2s;
}




footer{
    font-family: 'Open Sans';
    display: flex;
    gap: 120px;
    height: 200px;
    background-color: rgb(195, 33, 33);
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer > img{
    width: 150px;
    margin-top: -80px;
}

footer > div{
    display: flex;
    gap: 120px;
    margin-top: -80px;
}

footer > div > h2:nth-of-type(1) > p:nth-of-type(2) > a:nth-of-type(1){
    font-size: 30px; 
    margin-right: 10px; 
    margin-left: 30px;
}

footer > div > h2:nth-of-type(1) > p:nth-of-type(2) > a:nth-of-type(2){
    font-size: 30px;
}

footer > div > h2:nth-of-type(2) > p:nth-of-type(2){
    margin-left: -8px;

}

footer > div > h2:nth-of-type(2) > p:nth-of-type(2) > i{
    font-size: 30px;
    position: relative;
    top: 4px;
}

footer > div > h2:nth-of-type(2) > p:nth-of-type(2) > span{
    font-size: 21px; 
    display: inline; 
    padding: 0;
}



@media (max-width: 1000px){
    
    .textDiv{
        margin: 0;
        padding: 30px;
        box-shadow: none;
    }

    .textDiv > h1{
        font-size: 24px;
}
}


@media (max-width: 940px){

    footer{
        gap: 80px;
    }
    footer > div{
        gap: 80px;
    }
}


@media (max-width: 900px){

    .navBarWrapper{
        height: 65px;
    }
    .navbar{
        height: 65px;
    }
    .navLogo{
        width: 150px;
    }
    .navLogo-img{
        width: 150px;
    }
    .navWrap{
        display: none;
    }
    .nav-list{
        display: none;
    }
    .navSlideDown{
        display: block;
        background-color: #ffffff;
        max-height: 0;
        transition: max-height 0.8s;
    }
    .navSlideUp{
        display: block;
        background-color: #ffffff;
        max-height: 300px;
        transition: max-height 1.3s;
    }
    .nav-list-slide{
        list-style-type: none;
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        transform: translateY(-280px);
        transition: transform 1s;
    }
    .nav-list-slide-visible{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        transform: translateY(-10px);
    }
    .headerBtn.bar{
        display: block;
        margin-right: 2rem;
        margin-top: 1.2rem;
        align-self: flex-start;
        z-index: 1;
        border-color: black;
        padding: 2.5px 10px;
        color: black;
    }
    .fa.fa-bars{
        font-size: 17px;
    }
    .headerBtn.bar:hover{
        color: rgb(195, 33, 33);
        border-color: rgb(195, 33, 33);
    }
    .navButtonsWrap{
        display: none;
    }
    .coverDiv{
        height: fit-content;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    footer{
        height: 400px;
        flex-direction: column;
        gap: 10px;
    }
    footer > img{   
        margin-top: 0px;
    }
    footer > div{
        gap: 100px;
        margin-top: 0px;
    }
}

@media (max-width: 600px){

    footer > div{
        gap: 70px;
    }
    }


@media (max-width: 435px){
    footer > div{
        gap: 50px;
    }
}


@media (max-width: 380px){

    footer > img{
        width: 110px;
    }

    footer > div{
        gap: 30px;
    }

    footer > div > h2:nth-of-type(1) > p:nth-of-type(1){
        font-size: 22px;
    }

    footer > div > h2:nth-of-type(1) > p:nth-of-type(2) > a:nth-of-type(1){
        font-size: 24px; 
    }

    footer > div > h2:nth-of-type(1) > p:nth-of-type(2) > a:nth-of-type(2){
        font-size: 24px;
    }

    footer > div > h2:nth-of-type(2) > p:nth-of-type(1){
        font-size: 22px;
    }

    footer > div > h2:nth-of-type(2) > p:nth-of-type(2){
        margin-left: -5px;
    }

    footer > div > h2:nth-of-type(2) > p:nth-of-type(2) > i{
        font-size: 24px;
        top: 3px;
    }

    footer > div > h2:nth-of-type(2) > p:nth-of-type(2) > span{
        font-size: 18px; 
    }
}